.navbar {
  display: flex;
  flex-flow: row;
  /* justify-content: space-evenly; */
  height: 64px;
  width: 100%;
  flex: 1 2 1;
}

.search_icon_mar {
  margin: 3px 10px;
}

/* .profile-menu{
  position: relative;
}
.profile-menu::after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  z-index: -1;
}
.profile-menu:hover::after {
  transform: scale(1.1); 
} */

.text-costom-co {
  color: #707072;
  font-size: 15px;
  font-weight: 500;
}

.between {
  flex: 3;
}

/* .icon_container {
  width: 2.5rem;
  height: 2.5rem;
  padding: 7px;
}

.icon_container:hover {
  background-color: #efefef;
  border-radius: 50%;
} */

.navbar-left {
  flex: 1;
}

.navbar-right {
  flex: 2;
}

.cell {
  padding-left: 1em;
  text-align: center;
  margin-bottom: 1em;
  padding: 0.8em 1em 0;
}

.searchbar {
  display: flex;
  gap: 1rem;
  margin-top: 5px;
  padding: 0.75rem 0rem;
  border-radius: 2.5rem;
  align-items: center;
  background-color: #efefef;
}

.searchbar:hover {
  background-color: #e2e2e2;
}

.seachbar-div {
  font-weight: 600;
}

.seachbar-div2 {
  display: flex;
  font-weight: 600;
  color: #c5c3c3;
}

.navbar-right {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* float: left; */
  gap: 2rem;
  /* margin-right: 15px; */
  /* padding: 0.6rem; */
  font-weight: 600;
}

.profile-home {
  margin-top: 12px;
}

.profile-language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-account {
  display: flex;
  gap: 0.75rem;
  font-weight: 600;
  background-color: #c8c8c8;
  margin-top: 8px;
  border-radius: 5rem;
  height: 40px;
  padding: 0.3rem 0.5rem 0 0.7rem;
}

.bottom-navbar {
  display: none;
}

#basic-menu {
  z-index: 99999;
}

.map-icon {
  display: block;
}

@media only screen and (max-width: 800px) {
  /* .navbar-logo,
  .searchbar, */
  /* .navbar-right {
    display: none;
  } */

  .bottom-navbar {
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
  }
}

.seachbar-div2-icon {
  height: 20px;
  margin-right: 10px;
}

.header-div-icon {
  height: 23px;
}

.header-div-sStore-icon {
  height: 25px;
  margin-left: 10px;
}

.cart-notification {
  position: static;
  width: 20px;
  height: 20px;
  background-color: #000;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  line-height: 15px;
  font-size: 10px;
  font-weight: 700;
  border: 1.5px solid #fff;
  margin-top: -30px;
  margin-left: 20px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  top: 8.4rem !important;
  left: 0 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 450px) {
  .mainlogo {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    width: 120px;
    height: 75px;
  }

  .searchbar {
    display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .text-costom-co {
    display: none;
  }

  /* .map-icon {
    display: block;
  } */
  /* .right {
    display: none;
  } */
}

.MuiBackdrop-root.MuiBackdrop-invisible.MuiModal-backdrop.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop::-webkit-scrollbar {
  width: 10px !important;
  background-color: #333 !important;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: #fff;
  padding: 0px;
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  z-index: 9999;
  width: 100%;
  height: 50vh;
  list-style: none;
  /* margin-top: 100px; */
}

.modal-content {
  max-width: 100vw;
  /* Set the maximum width of your modal content */
  width: 100%;
  text-align: center;
}

.bloc-tabs::-webkit-scrollbar {
  display: none;
  background-color: rgb(64, 180, 124);
  border-radius: 20px;
}

@media screen and (max-width:450px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal {
    background: #fff;
    padding: 0px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    z-index: 9999;
    width: 100%;
    height: 100vh;
    list-style: none;
    /* margin-top: 100px; */
  }
  
  .modal-content {
    max-width: 100vw;
    /* Set the maximum width of your modal content */
    width: 100%;
    text-align: center;
  }
  
}