
/* ********* custom marker style ********** */

.marker-info {
    width: 213.281px;
    transform: scale(0.51897) translateY(-51.897%);
  }
  
  .info-wrapper .info-title {
    width: 155.281px;
    position: relative;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    left: 52px;
    max-width: 190px;
    max-height: 89.4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 8px 0 8px 58.4px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .06), 0 0 16px rgba(0, 0, 0, .24);
    line-height: 0;
    top: 25px;
  }
  
  .info-wrapper .title-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 75px;
  }
  
  .title-text {
    color: #434a54;
    font-size: 19px;
    font-weight: 600;
    display: inline;
    line-height: 25px;
  }
  
  .info-wrapper,
  .info-wrapper .info-image {
    height: 104px;
    width: 104px;
    background-size: cover;
    background-position: center;
  }
  
  .info-image {
    position: absolute;
    bottom: 0;
    left: 0;
    transition-property: border-color;
    border-radius: 50%;
    background-color: #ced4da;
    background-size: cover;
    background-position: top;
    border: 8px solid #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 1px 5px rgba(0, 0, 0, .1), 0 0 10px rgba(0, 0, 0, .22);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 1px 5px rgba(0, 0, 0, .1), 0 0 10px rgba(0, 0, 0, .22);
  }
  
  .info-image:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 44px;
    left: 22px;
    bottom: -2px;
    height: 2px;
    -webkit-box-shadow: 0 4px 20px #000, 0 1px 8px rgba(0, 0, 0, .8), 0 2px 12px rgba(0, 0, 0, .8), 0 2px 26px rgba(0, 0, 0, .8), 0 2px 48px rgba(0, 0, 0, .6);
    box-shadow: 0 4px 20px #000, 0 1px 8px rgba(0, 0, 0, .8), 0 2px 12px rgba(0, 0, 0, .8), 0 2px 26px rgba(0, 0, 0, .8), 0 2px 48px rgba(0, 0, 0, .6);
  }

  .marker-popover-image{
    width: 340px;
    height: calc(600px - 80px);
    z-index: 1000;
    margin-top: 82px;
    overflow-y: hidden;
    position: fixed;
    margin-bottom: 100px;
    border-radius: 10px;
    top: 0;
  }
  
  /* ********* END custom marker style ********** */
  