.room-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: 10;
  }
  
  .room-item:hover::before {
    opacity: 0; /* Adjust the hover opacity as needed */
  }

  @media only screen and (max-width:450px){
    .circle-navigation{
      display: none;
    }
  }