.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    /* top: 8%;
    left: 5%;
    width: 90%;
    max-height: 90vh; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
