.main-heading {
  display: flex;
  margin-top: 30px;
  padding: 20px 0 20px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  cursor: pointer;
}

.answers {
  padding: 30px 20px 20px 20px;
  /* font-family: "Raleway", sans-serif; */
  font-size: 15px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(40, 37, 53);
}
