*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel {
  width: 70vw;
  height: 100vh;
  position: relative;
  height: 50vh;
  display: none;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  width: 90vw;
  height: 45vh;
}

.slide > img {
  display: block;
  width: 100%;
  height: 70vh;
  /* position: absolute;
    top: 60px; */
  /* object-fit: contain; */
  object-position: center;
  margin-bottom: 1rem;
}

.slide.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

@media screen and (max-width: 450px) {
  .carousel {
    display: block;
    width: 70vw;
    height: 50vh;
  }
}

.indicators {
  display: flex;
  position: relative;
  top: 2rem;
  align-items: center;
  justify-content: center;
  /* top: 30px; */
  visibility: visible;
}

.indicator {
  background-color: red;
  height: 0.15rem;
  width: 4.2rem;
  border: none;
  border-radius: 34px;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.5; /* Set the default opacity for all lines */
}

.indicator.active {
  opacity: 1; /* Adjust the opacity for the active line */
}
