.filter {
  display: flex;
  max-width: 100vw;
  position: relative;
  padding: 1rem 0 0.5rem 1.5rem;
}

.Filter-array {
  /* display: flex;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: scroll;
  flex: 2.5 1; */
  display: flex;
}

@media only screen and (max-width: 450px) {
  .phone {
    display: flex;
    justify-content: flex-start;
    max-width: 100vw;
    overflow-x: scroll;
    flex: 2.5 1;
    left: 0;
  }

  .media {
    padding: 0;
  }
}

.Filter-array::-webkit-scrollbar {
  display: none;
}

.Filter-array-element {
  display: flex;
  gap: 0.55rem;
  padding-bottom: 3px;
  padding-top: 0;
}

.after-arrow {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex: 1 1;
  font-size: 14px;
}



.arrow-nav {
  width: 1.6rem;
  height: 2rem;
  padding-right: 0.2rem;
  color: rgb(248, 245, 245);
  cursor: pointer;
}

.Filter-array .arrow-left,
.Filter-array .arrow-right-filter {
  position: absolute;
}

.arrow-left.hidden {
  display: none;
}

.arrow-right-filter {
  /* right: 26%; */
  right: 26%;
}

.riht-arrow-sty {
  width: 2rem;
  height: 1.8rem;
  padding: 0.3rem;
  cursor: pointer;
}

.Filter-array-element-img {
  height: 1.3rem;
}

.Filter-array-element-lebel {
  white-space: nowrap;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.Filter-array-element:hover {
  border-bottom: 2px solid #000;
  transition: border-color 0.1s, color 0.1s;
}

.selected-array-element {
  opacity: 100%;
  border-bottom-style: solid;
  font-weight: 600;
  border-color: rgb(0, 0, 0);
  border-width: 80%;
}

.slider_lr_container {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  margin-top: 5px;
  border: 1px solid #dddd;
}

.slider_lr_container:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 450px) {
  .Filter-array {
    flex-direction: row;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .filter {
    display: flex;
    flex-direction: row;
    /* padding: 0 20px; */
    padding: 1rem 0 0.5rem 0;
  }

  .Filter-array-element {
    display: flex;
    /* gap: 0.55rem; */
    margin: 0;
    align-items: center;
    white-space: nowrap;
    font-weight: 600;
    /* padding-left: 10px; */
    /* padding: 0.7rem 0.3rem; */
    /* padding: 0.7rem 1.1rem; */
  }

  .selected-array-element {
    opacity: 100%;
    border-bottom-style: solid;
    font-weight: 600;
    border-color: rgb(0, 0, 0);
    border-width: 80%;
  }

  .arrow-right-filter {
    display: none;
  }

  .after-arrow {
    display: none;
  }

  .arrow-left {
    display: none;
  }
}