/* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s linear;
  }
   */

   .notch-buttons{
    display: none;
   }

   @media only screen and (max-width: 450px) {

   /* .fixed-ayatrio-map{
    display: none;
   } */
   .notch-buttons{
    display: flex;
   }
  }