
  .tabcategory {
    position: relative;

  }
  .tabcategory::-webkit-scrollbar {
    display: none;
  }
  
  .sticky-tabcategory {
    position: fixed;
    top: 0;
    width: 72.7rem;
    z-index: 1000;
    background-color: white; 
  }