h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  letter-spacing: 4px;
  color: #421498;
}

.image-comparison {
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-comparison img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container {
  position: relative;
  display: flex;
  border: solid black 1px;
}

.image-comparison .images-container .before-image {
  position: absolute;
  top: 0;
  width: 30%;
  z-index: 1;
}

.image-comparison .images-container .neo-image {
  position: absolute;
  top: 0;
  width: 70%;
}

.image-comparison .slider {
  position: absolute;
  height: 50%;
  width: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}

.image-comparison .slider-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #c52a2a;
  left: 30%;
  transform: translateX(-50%);
  z-index: 2;
}

.image-comparison .slider-icon {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 60px;
  height: 60px;
  color: #c21919;
  /* transform: translate(-50%, -50%) rotateZ(90deg); */
  transform: translate(-50%, -50%) rotateZ(90deg);
  z-index: 2;
}

/* Second Slider */
.image-comparison .slider-2 {
  top: 50%;
  position: absolute;
  height: 50%;
  width: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}

.image-comparison .slider-line-2 {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #0fbb2b;
  left: 70%;
  transform: translateX(-50%);
}

.image-comparison .slider-icon-2 {
  position: absolute;
  left: 70%;
  top: 80%;
  width: 60px;
  height: 60px;
  color: #10bd27;
  transform: translate(-50%, -50%) rotateZ(90deg);
}
