:root {
  --main-color: #000;
  --loader-color: #000000;
  --back-color: #efefef;
  --time: 1.3s;
  --size: 1.5px;
}

.loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100000;
}

.loader__element {
  height: var(--size);
  width: 100%;
  background: var(--back-color);
}

.loader__element:before {
  content: '';
  display: block;
  background-color: var(--loader-color);
  height: var(--size);
  width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
  100% {
    width: 100%;
  }
}